In [2]:
from openpyxl import *
import math

In [3]:
raw_data={}
wb=load_workbook('class_1.xlsx')

In [4]:
ws=wb.active

In [5]:
ws

In [6]:
g=ws.rows

In [7]:
for name_cell, score_cell in g:
    raw_data[name_cell.value]=score_cell.value

In [8]:
raw_data

{'anna': 20,
 'elen': 25,
 'greg': 95,
 'john': 25,
 'mark': 80,
 'melisa': 100,
 'steve': 95,
 'thor': 10,
 'timothy': 15,
 'yang': 50}

# scores

In [9]:
scores=list(raw_data.values())

In [10]:
scores

[95, 25, 50, 15, 100, 10, 25, 80, 95, 20]

## 평균

In [11]:
s=0
for score in scores:
    s+=score

In [12]:
s

515

In [13]:
avrg=s/len(scores)

In [14]:
avrg

51.5

## 분산=sum((score-avrg)**2)/len(scores)

In [15]:
s=0
for score in scores:
    s+=(score-avrg)**2

In [18]:
variance=round(s/len(scores), 1)

In [19]:
variance

1240.2

##  표준 편차

In [22]:
std_dev=round(math.sqrt(variance),1)

In [23]:
std_dev

35.2

In [24]:
print("평균:{}, 분산:{}, 표준편차:{}".format(avrg, variance, std_dev))

평균:51.5, 분산:1240.2, 표준편차:35.2

## 평가

In [25]:
if avrg < 50 and std_dev > 20:
    print('성적이 너무 저조하고 학생들의 실력 차이가 너무 크다.')
elif avrg > 50 and std_dev > 20:
    print('성적은 평균 이상이지만 학생들의 실력 차이가 크다. 주의 요망!')
elif avrg < 50 and std_dev < 20:
    print('학생들의 실력 차이는 크지 않지만 성적이 너무 저조하다. 주의 요망!')
elif avrg > 50 and std_dev < 20:
    print('성적도 평균 이상이고 학생들의 실력 차이도 크지 않다.')

성적은 평균 이상이지만 학생들의 실력 차이가 크다. 주의 요망!